<div style="overflow: scroll; width: 100%; height: 100%">
<TABLE class="snacks">
<TR>
  <TD>Banana Chips</TD>
  <TD>Heath Chunks</TD>
  <TD>Ocean Spray Cranberries</TD>
  <TD>Starlight Candy</TD>
</TR>
<TR>
  <TD>Blow Pop</TD>
  <TD>Hersheys Kisses</TD>
  <TD>Orange Slices</TD>
  <TD>Sugar Daddy Pops</TD>
</TR>
<TR>
  <TD>Butterfinger Pieces</TD>
  <TD>Hersheys Miniatures</TD>
  <TD>Oreo Cookies</TD>
  <TD>Sugar Free Gummy Bears</TD>
</TR>
<TR>
  <TD>Caramel Turtles</TD>
  <TD>Hot Tamales</TD>
  <TD>Peachie-O's</TD>
  <TD>Sun-Maid Chocolate Raisins</TD>
</TR>
<TR>
  <TD>Chocolate Chips</TD>
  <TD>Jelly Bellys</TD>
  <TD>Peanut Butter M&M's</TD>
  <TD>Sun-Maid Raisins</TD>
</TR>
<TR>
  <TD>Chocolate Toffee Preztels</TD>
  <TD>Laffy Taffy</TD>
  <TD>Planters Cashews</TD>
  <TD>Swedish Fish</TD>
</TR>
<TR>
  <TD>Circus Peanuts</TD>
  <TD>Lemonhead</TD>
  <TD>Planters Peanuts</TD>
  <TD>Tootsie Pops</TD>
</TR>
<TR>
  <TD>Daily Chef Pitted Plums</TD>
  <TD>M&M's</TD>
  <TD>Raspberries</TD>
  <TD>Tootsie Rolls</TD>
</TR>
<TR>
  <TD>Diamond Walnuts</TD>
  <TD>M&M's  Peanut</TD>
  <TD>Red Hots</TD>
  <TD>Trolli Sour Brite Octopus</TD>
</TR>
<TR>
  <TD>Dried Cherries</TD>
  <TD>M&M's  Pretzel</TD>
  <TD>Reese's Pieces</TD>
  <TD>Vanilla Wafers</TD>
</TR>
<TR>
  <TD>Dum-dums</TD>
  <TD>Marvel Heros Popping Candy</TD>
  <TD>Rock Candt Crystals</TD>
  <TD>Whole Almonds</TD>
</TR>
<TR>
  <TD>Gummi Critters</TD>
  <TD>Mike and Ike</TD>
  <TD>Skittles</TD>
  <TD>Whoppers</TD>
</TR>
<TR>
  <TD>Gummy Bears</TD>
  <TD>Milk Duds</TD>
  <TD>Sour Patch Kids</TD>
  <TD>Whoppers Strawberry Milkshake</TD>
</TR>
<TR>
  <TD>Happy Cola Gummies</TD>
  <TD>Mini Peanut Butter Cups</TD>
  <TD>Spice Drops</TD>
  <TD>Wonka Sweet Tart Jelly Beans</TD>
</TR>
<TR>
  <TD>Haribo Mini Gummi Frogs</TD>
  <TD>Mountain Trail Mix</TD>
  <TD>Spiderman Licorice Webs</TD>
  <TD>York Peppermint Patties</TD>
</TR>

</TABLE>
</div>