<TABLE class="toppings">
<TR>
  <TD class="heading">At the Snackage Bar</TD>
  <TD></TD>
  <TD></TD>
  <TD class="heading">Fresh Fruit</TD>
</TR>
<TR>
  <TD>Butterfinger</TD>
  <TD>M&M's</TD>
  <TD>Peanuts</TD>
  <TD>Strawberries</TD>
</TR>
<TR>
  <TD>Milk Chocolate Chips</TD>
  <TD>Reeses Pieces</TD>
  <TD>Sour Patch Kids</TD>
  <TD>Raspberries</TD>
</TR>
<TR>
  <TD>Coconut Flakes</TD>
  <TD>White Chocolate Chips</TD>
  <TD>Sour Worms</TD>
  <TD>Blackberries</TD>
</TR>
<TR>
  <TD>Fruity Pebbles</TD>
  <TD>Mini Peanut Butter Cups</TD>
  <TD>Gummi Worms</TD>
  <TD>Blueberries</TD>
</TR>
<TR>
  <TD>Graham Cracker Crumbs</TD>
  <TD>Nestle Crunch</TD>
  <TD>Cinnamon Toast Crunch</TD>
  <TD>Peaches</TD>
</TR>
<TR>
  <TD>Swedish Fish</TD>
  <TD>Chopped Nuts</TD>
  <TD>Chocolate Sprinkles</TD>
  <TD>Mangos</TD>
</TR>
<TR>
  <TD>Heath Toffee</TD>
  <TD>Old Fashioned Granola</TD>
  <TD>Rainbow Sprinkles</TD>
  <TD>Pineapple</TD>
</TR>
<TR>
  <TD>Jelly Bellies</TD>
  <TD>Oreo Cookies</TD>
  <TD>Cookie Dough</TD>
  <TD></TD>
</TR>
</TABLE>
