<TABLE class="yogurt">
<TR>
  <TD class="heading">Premium Low Fat</TD>
  <TD>Strawberry</TD>
  <TD>Cookies n' Creme</TD>
  <TD>Thin Mint</TD>
</TR>
<TR>
  <TD>Cake Batter</TD>
  <TD>Peppermint Stick</TD>
  <TD>Carrot Cake</TD>
  <TD class="heading">Non Dairy Sorbet</TD>
</TR>
<TR>
  <TD>Dutch Chocolate</TD>
  <TD class="heading">No Sugar Added</TD>
  <TD>Gingerbread</TD>
  <TD>Key Lime</TD>
</TR>
<TR>
  <TD>Heath</TD>
  <TD>Coffee</TD>
  <TD>Georgia Peach</TD>
  <TD>Orange Burst</TD>
</TR>
<TR>
  <TD>Red Velvet Cake</TD>
  <TD>Cheesecake</TD>
  <TD>Hershey Kisses</TD>
  <TD>Mango Tango</TD>
</TR>
<TR>
  <TD>Praline n' Creme</TD>
  <TD>Chocolate</TD>
  <TD>Island Banana</TD>
  <TD>Kiwi-Strawberry</TD>
</TR>
<TR>
  <TD>Sweet Coconut</TD>
  <TD>Strawberry</TD>
  <TD>Maple Bacon Doughnut</TD>
  <TD>Cotton Candy</TD>
</TR>
<TR>
  <TD>Caramel</TD>
  <TD>Vanilla</TD>
  <TD>Luscious Lemon</TD>
  <TD class="heading">Tart</TD>
</TR>
<TR>
  <TD>Reese's Peanut Butter</TD>
  <TD>Praline</TD>
  <TD>New York Cheesecake</TD>
  <TD>Blueberry Acai</TD>
</TR>
<TR>
  <TD>Snickers</TD>
  <TD class="heading">Non Fat</TD>
  <TD>Pecan Praline</TD>
  <TD>Peach Mango</TD>
</TR>
<TR>
  <TD>Fruity Pebbles</TD>
  <TD>Vanilla</TD>
  <TD>Pumpkin Pie</TD>
  <TD>Raspberry Pomegranate</TD>
</TR>
<TR>
  <TD>Cake Icing</TD>
  <TD>Apple Pie</TD>
  <TD>Rootbeer Float</TD>
  <TD></TD>
</TR>
</TABLE>
